.header {
    position: fixed;
    top: 0;
    width: 99.95%;
    border-radius: 0.3rem;
    left: 0;
    z-index: 1000;
    background-color: #16181ced; /* 배경색을 약간 불투명하게 조정 */
    padding: 0.625rem 1.25rem;
    backdrop-filter: blur(4px); /* 배경 블러 효과 */
}

.link {
    color: #fdfdfd; /* 원하는 색상으로 변경하세요 */
    text-decoration: none; /* 밑줄 제거 (선택 사항) */
}

.link:hover {
    color: hsl(30, 100%, 50%); /* 호버 상태에서의 색상 */
    text-decoration: none;
}

.menuItem,
.loginLink,
.registerLink,
.logo {
    @extend .link;
}

.topSection,
.menu,
.userSection {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    align-items: center;
    margin: 0 1.125rem; /* 0 18px */
    color: #fff;
}

.navContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.logo {
    font-size: 1.5rem; /* 24px */
    text-decoration: none;
    margin-right: 1.25rem; /* 20px */
}

.icons {
    margin-right: 0.625rem; /* 10px */
    display: flex;
}

.icons button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0.1875rem; /* 3px */
}

.icons button:hover {
    transform: scale(1.08);
    transition:
        transform 0.3s ease,
        background-color 0.3s ease;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menuItem {
    margin-right: 0.625rem; /* 10px */
}

.greeting {
    margin-right: 0.625rem; /* 10px */
    color: #fff;
}

.logout {
    color: white;
}

.logout,
.loginLink,
.registerLink {
    margin-left: 0.625rem; /* 10px */
    text-decoration: none;
}
