.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--background-color, #16181c);
    color: var(--font-color, #fff);
    padding: 10px 20px;
}

.topSection,
.menu,
.userSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.navContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.logo {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.icons {
    margin-right: 10px;
    display: flex;
}

.icons button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 3px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menuItem {
    margin-right: 10px;
}

// Greeting and login/signup links
.greeting {
    margin-right: 10px;
}

.loginLink,
.registerLink {
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
}
