.header {
    position: fixed;
    width: 99%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
  }
  
  .top-section,
  .menu,
  .user-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
  }
  
  .nav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  
  .logo {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .icons {
    margin-right: 10px;
    display: flex;
  }

  .icons button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 3px;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .menu-item {
    margin-right: 10px;
  }
  

//인사말과 로그인 부분
  .greeting {
    margin-right: 10px;
  }
  
  .login-link,
  .signup-link {
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
  }
  