.header {
    position: sticky; /* fixed에서 sticky로 변경*/
    top: 0; 
    width: 100%;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid #16181c;
    background-color: #202227;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 상단에 그림자 효과 추가 */
    padding: 0.625rem 1.25rem; /* 10px 20px */
}

.topSection,
.menu,
.userSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.125rem; /* 0 18px */
}

.navContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.logo {
    font-size: 1.5rem; /* 24px */
    color: #fff;
    text-decoration: none;
    margin-right: 1.25rem; /* 20px */
}

.icons {
    margin-right: 0.625rem; /* 10px */
    display: flex;
}

.icons button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0.1875rem; /* 3px */
}

.icons button:hover {
    transform: scale(1.05);
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menuItem {
    margin-right: 0.625rem; /* 10px */
}

.greeting {
    margin-right: 0.625rem; /* 10px */
}

.loginLink,
.registerLink {
    margin-left: 0.625rem; /* 10px */
    text-decoration: none;
    color: #fff;
}
