.background {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fffefe;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        max-width: 400px;
    }

    h1 {
        text-align: center;
        margin: 20px 0;
    }

    .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    button {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
    }
}

button[type='submit'] {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
}

small {
    margin-top: 20px;
}
