$L: 2.5625rem; // Large (41px)
$m: 1.75rem; // Medium (28px)
$ms: 1.3125rem; // Medium Small (21px)
$s: 1.16rem; // Small (20px)
$xs: 1rem; // Extra Small (16px)

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

body {
    margin: 0;
    overflow-x: hidden;
    width: 100vw;
    //background-color: var(--background-color, #16181c);
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    //color: var(--font-color, #fff);
    align-items: center;
    width: 100%;
    justify-content: center;
}

.mainSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60vh;
    width: 100%;
    margin-bottom: 1.25rem;

    .h1Title {
        font-family: 'Pretendard-Bold';
        font-size: $L;
        line-height: 3.125rem; // 50px
        font-weight: 800;
        margin-bottom: 0.625rem; // 10px

        span {
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
        }
    }
}

//메인 버튼 스타일링
.btnAlgorithm {
    padding: 0.75rem 1.5rem; // 내부 여백
    background-color: #0077fd; //나중에 변수로 바꾸기
    border: none; // 테두리 없음
    border-radius: 0.25rem; // 모서리 둥글기
    color: #ffffff; // 텍스트 색상
    font-size: $s; // 글자 크기
    font-weight: 500; // 글자 두께
    margin-top: 0.5rem;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s; // 배경 색상 변화 애니메이션

    &:hover {
        background-color: hsl(212, 97%, 44%); // 마우스 오버 시 색상 변경
        transform: scale(1.02);
        transition:
            transform 0.3s ease,
            background-color 0.3s ease;
    }

    &:active {
        background-color: hsl(212, 100%, 36%); // 클릭 시 색상 변경
    }

    &:focus {
        outline: none; // 포커스 시 외곽선 제거
    }
}

//메인 컨테이너 부분들
.iconContainer {
    background-color: #0077fd;
    height: 100%;
}

.textContainer {
    padding-left: 2rem;
    padding-top: 1rem;
}

@media (max-width: 1024px) {
    .btnAlgorithm {
        width: 50%;
        padding: 0.5rem 1rem;
        font-size: $xs; // 글자 크기를 가장 작은 크기로
        margin-top: 0.25rem; // 상단 여백 조정
    }
}
.textContainer {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 0 1.25rem; // 0 20px
    line-height: 2.1875rem; // 35px
    font-size: $ms;
}

.iconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    height: 100%;
    flex-wrap: wrap;
}

//문제 리스트 컨테이너 부분
.problemContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1rem 1rem; // 내부 여백
}
//문제리스트 섹션
.problemContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    top: -20px;
    justify-content: space-between;
    width: 100%;
    margin: 0 1.5rem; // 0 20px
    font-size: $xs;
    border-top: 0.02rem solid #313131;
    padding: 0rem 2rem; // 내부 여백
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.problemSection {
    width: 75%;
    height: auto;
    font-size: $s;
    margin-right: 4.1rem;
    display: flex;
    flex-direction: column;
    background-color: #efefef;
    border: 0.025rem solid #16181c42;
    padding: 1.25rem 2rem;
    border-radius: 0.4375rem;

    //문제리스트 표 테이블
    .table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 15px; // 각 행 사이의 간격
        color: #565656;

        .th:first-child {
            border-top-left-radius: 0.4rem;
            border-bottom-left-radius: 0.4rem; // 하단 왼쪽 모서리 둥글게
        }

        .th:last-child {
            border-top-right-radius: 0.4rem;
            border-bottom-right-radius: 0.4rem; // 하단 왼쪽 모서리 둥글게
        }

        .tr:first-child td:first-child {
            border-top-left-radius: 1rem; // 상단 왼쪽 모서리 둥글게
        }

        .tr:first-child td:last-child {
            border-top-right-radius: 1rem; // 상단 오른쪽 모서리 둥글게
        }

        .tr:last-child td:first-child {
            border-bottom-left-radius: 1rem; // 하단 왼쪽 모서리 둥글게
        }

        .tr:last-child td:last-child {
            border-bottom-right-radius: 1rem; // 하단 오른쪽 모서리 둥글게
        }

        .tr {
            font-family: 'Pretendard-Bold';
            font-weight: 800;
            background-color: #ffffff;
            border-radius: 1rem;
            transition: background-color 0.3s ease;
            box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); // 그림자 효과
        }
        .tr:hover {
            transform: scale(1.03);
        }

        .th,
        .td {
            padding: 1.25rem;
            text-align: center;
        }

        .th {
            background-color: #16181cee;
            color: #fff;
        }

        .td {
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                transform: scale(1.03);
                color: #0077fd;
                font-weight: bold;
            }
        }

        .td:nth-child(1) {
            font-size: 2rem;
        }

        .td:nth-child(2) {
            display: flex;
            flex-direction: column;

            .algorithmType {
                font-size: $xs;
                color: #7c7c7c;
                font-weight: 500;
                margin-bottom: 0.2rem; // 10px
            }
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        button {
            padding: 8px 16px;
            margin: 0 0.25rem;
            background-color: #e0e0e0;
            border: none;
            cursor: pointer;

            &:hover {
                background-color: #d0d0d0;
            }
        }
    }
}

.problemCard {
    border: 1px solid #ccc;
    border-radius: 0.3125rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.clientSection {
    width: 25%;
    height: auto;
    font-size: $xs;
    display: flex;
    border: 0.02rem solid #828282;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); // 그림자 효과
    border-radius: 0.3rem;
    padding: 1rem 1rem;
    flex-direction: column;
    align-items: center;

    .userInfoSection {
        align-items: center;
        display: flex;
        flex-direction: column;
        .userProfile {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 0.9rem;
            .userInfo {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 13.5rem;
                margin-top: 0.2rem;
                .tier {
                    margin-right: 1rem;
                }
            }
        }
    }
}

//사용자 이미지 부분 스타일
.clientAvatar {
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #0077fd;
}

.userAvatar {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    object-fit: cover;
}

//오늘의 추천 알고리즘 부분
.todayAlgorithm {
    margin-top: 1rem;
    width: 20rem;
    height: auto;
    color: #16181c;
    background-color: #f1f1f1;
    padding: 1.5rem 1.5rem;
    text-align: center;

    border-radius: 0.4rem;
    .title {
        font-size: $m;
        font-weight: 800;
        margin-bottom: 0.5rem; // 10px
        font-family: 'Pretendard-Bold';
    }
    span {
        background-color: #0077fd; /* 배경 색상 */
        padding: 0rem 0.2rem;
        color: rgb(255, 255, 255); /* 글자 색상 */
        border-radius: 0.1rem;
    }
}

@media (max-width: 1420px) {
    .todayAlgorithm {
        width: 100%;
        span {
            background-color: #0077fd; /* 배경 색상 */
            padding: 0rem 0.2rem;
            color: rgb(255, 255, 255); /* 글자 색상 */
            border-radius: 0.1rem;
        }
    }
}

@media (max-width: 1024px) {
    .mainSection {
        margin-bottom: 1.25rem;

        .h1Title {
            font-size: $m;
            line-height: 2.1875rem; // 35px

            span {
                font-size: $m;
            }
        }

        .textContainer {
            line-height: 1.5625rem; // 25px
        }

        .textContainer,
        .iconContainer {
            width: 100%;
            font-size: $xs;
        }

        .iconContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            flex: 1;
            flex-wrap: wrap;

            svg {
                width: 30rem;
            }
        }
    }
    .clientSection {
        display: none;
    }
    .problemSection {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 1rem;
    }
}

@media (max-width: 690px) {
    .mainSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-height: 60vh;
    }

    .textContainer {
        display: none;
    }

    .problemContainer {
        flex-direction: column;
        align-items: center;
        padding: 1rem 1rem;
        border-top: 0.05rem solid #565656;
        box-sizing: border-box;
    }

    .problemSection {
        order: 1;
        width: 100%;
        margin: 0 auto;
    }

    .clientSection {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-evenly;
        margin: 0 auto;
        margin-bottom: 1rem;

        .userInfoSection {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
        }
    }

    .todayAlgorithm {
        width: 90%;
        span {
            background-color: #0077fd; /* 배경 색상 */
            padding: 0rem 0.2rem;
            color: rgb(255, 255, 255); /* 글자 색상 */
            border-radius: 0.1rem;
        }
    }
}
