// 폰트 사이즈 변수
$L: 2.5625rem; // Large (41px)
$m: 1.75rem; // Medium (28px)
$ms: 1.3125rem; // Medium Small (21px)
$s: 1.16rem; // Small (20px)
$xs: 1rem; // Extra Small (16px)

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

body {
    margin: 0;
    overflow-x: hidden;
    width: 100vw;
    //background-color: var(--background-color);
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    color: var(--font-color);
    align-items: center;
    width: 100%;
    justify-content: center;
    min-height: 100vh; // 전체 높이를 차지하도록 설정
}

.mainSection1,
.mainSection2,
.mainSection3 {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 30vh;
    padding: 1.25rem 0; // 20px 0
    margin-bottom: 6.25rem; // 100px

    .h1Title {
        font-family: 'Pretendard-Bold';
        font-size: $L;
        line-height: 3.125rem; // 50px
        font-weight: 800;
        margin-bottom: 0.625rem; // 10px

        span {
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
        }
    }
}

.textContainer {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 0 1.25rem; // 0 20px
    line-height: 2.1875rem; // 35px
    font-size: $ms;
}

.mainSection2 {
    .textContainer {
        margin-left: 3.125rem; // 50px
    }
}

.iconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    flex-wrap: wrap;
}

.mainSection1 {
    .iconContainer {
        margin-right: 3.75rem; // 60px
    }
}

.shortcut2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    max-width: 25.875rem; // 350px
    align-items: center; // 중앙 정렬 추가
}

.shortcut2 svg {
    margin: 0; // 여백 초기화
    padding: 0; // 패딩 초기화
    width: auto; // 자동 너비 조정
    height: auto; // 자동 높이 조정
}

.shortcut1,
.shortcut2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    max-width: 21.875rem; // 350px

    svg:hover {
        transform: scale(1.05);
    }
}

.shortcut2 button {
    border: 0;
    cursor: pointer;
    background-color: transparent; // 배경색을 투명으로 설정
    padding: 0; // 패딩 초기화
    margin: 0; // 마진 초기화
    outline: none; // 포커스 시 외곽선 제거
}

.faq {
    padding-left: 0.2375rem; // 7px
}

//image size edit
.toAlgorithm {
    .mainAlgorithmImg {
        width: 37.5rem; // 600px
        height: auto;
    }
}

.toSound svg {
    width: 34.375rem; // 550px
    height: auto;
    margin-left: 0.625rem; // 10px
}

//텍스트 뒤 배경색상

.bgMain {
    background-color: var(--third-color, #ff7b00); /* 배경 색상 */
    padding: 0rem 0.2rem;
    color: rgb(255, 255, 255); /* 글자 색상 */
    border-radius: 0.1rem;
}

.bgAlgorithm {
    background-color: var(--primary-color, #0077fd); /* 배경 색상 */
    padding: 0rem 0.2rem;
    border-radius: 0.1rem;
    color: rgb(255, 255, 255); /* 글자 색상 */
}

.bgSound {
    background-color: var(--third-color, #ff7b00); /* 배경 색상 */
    padding: 0rem 0.2rem;
    border-radius: 0.1rem;
    color: rgb(255, 255, 255); /* 글자 색상 */
}

//버튼 스타일링
.btnAlgorithm {
    padding: 0.75rem 1.5rem; // 내부 여백
    background-color: var(--primary-color, #0077fd); /* 배경 색상 */
    border: none; // 테두리 없음
    border-radius: 0.25rem; // 모서리 둥글기
    color: #ffffff; // 텍스트 색상
    font-size: $s; // 글자 크기
    font-weight: 500; // 글자 두께
    margin-top: 0.5rem;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s; // 배경 색상 변화 애니메이션

    &:hover {
        background-color: hsl(212, 97%, 44%); // 마우스 오버 시 색상 변경
        transform: scale(1.02);
        transition:
            transform 0.3s ease,
            background-color 0.3s ease;
    }

    &:active {
        background-color: hsl(212, 100%, 36%); // 클릭 시 색상 변경
    }

    &:focus {
        outline: none; // 포커스 시 외곽선 제거
    }
}

//링크 호버시 애니메이션 추가
.shortcut1 svg,
.shortcut2 svg {
    transition:
        transform 0.3s ease,
        background-color 0.3s ease;
    &:hover {
        transform: translateY(-0.1875rem); // 마우스 오버시 약간 위로 움직임
    }
}

@media (max-width: 1024px) {
    .mainSection1,
    .mainSection2,
    .mainSection3 {
        margin-bottom: 1.25rem; // 20px
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        .iconContainer {
            width: 100%;
            display: flex;
            justify-content: space-around; // 아이콘을 균등하게 분포
        }

        .textContainer {
            width: 100%;
            text-align: left;
            padding: 0.625rem; // 일관된 패딩
            font-size: $s;
            line-height: 1.8125rem;
            margin-bottom: 0.625rem;
        }

        .h1Title {
            font-size: $m; // $m
            line-height: 2.1875rem; // 35px
            margin-bottom: 0.5rem; // 패딩

            span {
                font-size: $m; // $m
            }
        }

        .btnAlgorithm,
        .toSound svg,
        .toAlgorithm svg {
            font-size: 1rem; // $xs
            padding: 0.55rem 1.2rem; // 내부 여백
            width: auto; // 자동 너비 조정
        }

        .shortcut1 svg,
        .shortcut2 svg,
        .toSound svg,
        .toAlgorithm svg {
            width: 100%; // SVG 아이콘의 너비를 100%로 조정
            height: auto; // 높이를 자동으로 조정
            margin-right: 1.25rem; // 일관된 마진 적용
            margin-left: 0.6rem;
        }

        .shortcut1,
        .shortcut2 {
            display: flex;
            flex-direction: row;
        }
    }
    .mainSection2 {
        flex-direction: column-reverse;
        .textContainer {
            margin-left: 1.25rem; // 50px
        }
    }
}
