.chatModal {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 400px;
    height: 600px;
    background-color: #fff;
    border: none;
    border-radius: 12px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    z-index: 2000;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chatHeader {
    background-color: #0077fd;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    font-size: 1.2rem;
}

.messages {
    flex-grow: 1;
    padding: 20px;
    background-color: #f9f9f9;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chatInput {
    padding: 15px;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top: 1px solid #ccc;

    label {
        font-size: 0.9rem;
        margin-right: 10px;
        display: block;
        margin-bottom: 5px;
    }

    input {
        width: 100%; /* 입력 필드의 너비를 100%로 설정 */
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 1rem;
    }

    button {
        padding: 10px 20px;
        background-color: #0077fd;
        color: white;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 1rem;

        &:hover {
            background-color: #0056b3;
        }
    }
}

.searchContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
