.theme-page {
    margin-bottom: 50px;
    display: flex;
    height: 720px;
    flex-direction: column;
}
.themeTitle {
    width: 50%;
    h1 {
        width: 20%;
        margin-bottom: 20px;
        background-color: #23c35e;
    }
    p {
        margin-bottom: 20px;
    }
}

.themeSwitch {
    display: flex;
    justify-content: center;
}
.light {
    background-color: #f9f9f9;
    color: #16181c;
}

.dark {
    background-color: #16181c;
    color: #f9f9f9;
}

.highcontrast {
    background-color: #0000ff;
    color: #ff9900;
}

