.theme-page {
    margin-bottom: 50px;
    display: flex;
    height: 720px;
    flex-direction: column;
}
.themeTitle {
    width: 40%;
    h1 {
        width: 20%;
        margin-bottom: 20px;
        background-color: #23c35e;
    }
    p {
        margin-bottom: 20px;
    }
}

.themeSwitch {
    display: flex;
    justify-content: center;
}
.light {
    background-color: #ffffff;
    color: #000000;
}
.dark {
    background-color: #000000;
    color: #ffffff;
}
.highcontrast {
    background-color: #0000ff;
    color: #ff9900;
}
