@import '../../global.module.scss';

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

.themeSwitcher {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .themeSelect {
        display: flex;
        justify-content: center;
        align-items: center;
        .themeMode {
            margin: 10px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;
        }
        h2 {
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 10px;
        }
    }
    button {
        width: 80px;
        height: 40px;
        font-size: 1rem;
        text-align: center;
        margin-top: 30px;
        border: none;
        background-color: var(--font-color);
        color: var(--background-color);
    }
}
