// 레이아웃 전체 컨테이너
.profilepagecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 6.25rem;
    padding-top: 2rem;
}

// 프로필 및 문제 목록 컨테이너
.topsection {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .recentproblems {
        padding: 1.25rem;
        border-radius: 0.5rem;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    }

    .profilecontainer {
        flex: 0 0 40%;

        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 12.5rem;
            height: 12.5rem;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 1.25rem;
        }
        .userinfo {
            width: 100%;
            padding: 0 2rem;

            .inforow {
                display: flex;
                justify-content: space-between;
            }

            .infocolumn {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }

    .recentproblems {
        flex: 0 0 60%;
    }
}

// 활동 이력 그래프
.activityhistory {
    width: 100%;
    padding: 1.25rem;
    margin-top: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}
