// Light Theme
$light-mode-white: #FFFFFF;
$light-mode-light-gray: #16181C;
$light-mode-orange: #FF9900;
$light-mode-yellow: #FAFA4F;
$light-mode-green: #2F9E35;
$light-mode-blue: #4E9E5A;
$light-mode-red: #F82915;

// Dark Theme
$dark-mode-dark-gray: #16181C;
$dark-mode-dark-blue: #00009F;
$dark-mode-dark-green: #017E17;
$dark-mode-dark-orange: #FB8F1B;
$dark-mode-dark-yellow: #FAFF00;

// High Contrast Dark Theme
$high-contrast-dark-white: #FFFFFF;
$high-contrast-dark-gray: #16181C;
$high-contrast-dark-blue: #0000FF;
$high-contrast-dark-green: #03FF00;
$high-contrast-dark-red: #FF0000;

// High Contrast Light Theme
$high-contrast-light-white: #FFFFFF;
$high-contrast-light-light-gray: #16181C;
$high-contrast-light-orange: #FF9900;
$high-contrast-light-yellow: #FAFA4F;
$high-contrast-light-green: #2F9E35;
$high-contrast-light-blue: #4E9E5A;
$high-contrast-light-red: #F82915;