body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}
//fontSize
$L: 2.5625rem; // Large (41px)
$m: 1.75rem; // Medium (28px)
$ms: 1.3125rem; // Medium Small (21px)
$s: 1.16rem; // Small (20px)
$xs: 1rem; // Extra Small (16px)

//default colors
$white: #ffffff;
$black: #000000;
$light-gray: #16181c;
.mode {
    &_light {
        --background-color: #ffffff;
        --font-color: #16181c;
        --primary-color: #067aff;
        --secondary-color: #49ea5a;
        --third-color: #ff9900;
        --forth-color: #f2f203;
    }

    &_dark {
        --background-color: #16181c;
        --font-color: #ffffff;
        --primary-color: #0277fd;
        --secondary-color: #25c35e;
        --third-color: #fb9215;
        --forth-color: #f3f326;
    }

    &_highcontrast {
        --background-color: #000000;
        --font-color: #ffffff;
        --primary-color: #0000ff;
        --secondary-color: #03ff00;
        --third-color: #ff7b00;
        --forth-color: #ffff00;
    }
}
.temp {
    height: 6.25rem;
    width: 6.25rem;
    background-color: var(--background-color);
    color: var(--font-color);
    border: 0.0625rem solid var(--primary-color);
}
