$white: #ffffff;
$black: #000000;
$light-gray: #16181c;

// Light Theme
$light-mode-white: #ffffff;
$light-mode-light-gray: #16181c;
$light-mode-orange: #ff9900;
$light-mode-yellow: #fafa4f;
$light-mode-green: #2f9e35;
$light-mode-blue: #4e9e5a;
$light-mode-red: #f82915;

// Dark Theme
$dark-mode-dark-gray: #16181c;
$dark-mode-dark-blue: #00009f;
$dark-mode-dark-green: #017e17;
$dark-mode-dark-orange: #fb8f1b;
$dark-mode-dark-yellow: #faff00;

// High Contrast Dark Theme
$high-contrast-dark-white: #ffffff;
$high-contrast-dark-gray: #16181c;
$high-contrast-dark-blue: #0000ff;
$high-contrast-dark-green: #03ff00;
$high-contrast-dark-red: #ff0000;

// High Contrast Light Theme
$high-contrast-light-white: #ffffff;
$high-contrast-light-light-gray: #16181c;
$high-contrast-light-orange: #ff9900;
$high-contrast-light-yellow: #fafa4f;
$high-contrast-light-green: #2f9e35;
$high-contrast-light-blue: #4e9e5a;
$high-contrast-light-red: #f82915;
