//fontSize
$L: 2.5625rem; // Large (41px)
$m: 1.75rem; // Medium (28px)
$ms: 1.3125rem; // Medium Small (21px)
$s: 1.16rem; // Small (20px)
$xs: 1rem; // Extra Small (16px)

//default colors
$white: #ffffff;
$black: #000000;
$light-gray: #16181c;
.mode {
    &_light {
        --background-color: #ffffff;
        --font-color: #16181c;
        --primary-color: #5faaff;
        --secondary-color: #49ea5a;
        --third-color: #ff9900;
        --forth-color: #f2f203;
    }

    &_dark {
        --background-color: #16181c;
        --font-color: #ffffff;
        --primary-color: #0277fd;
        --secondary-color: #25c35e;
        --third-color: #fb9215;
        --forth-color: #f3f326;
    }

    &_highcontrast {
        --background-color: #000000;
        --font-color: #ffffff;
        --primary-color: #0000ff;
        --secondary-color: #03ff00;
        --third-color: #ff7b00;
        --forth-color: #ffff00;
    }
}

.body {
    background-color: var(--background-color);
    color: var(--font-color);
}
// Light Themes
$light-mode-white: #ffffff;
$light-mode-light-gray: #16181c;
$light-mode-orange: #ff9900;
$light-mode-yellow: #fafa4f;
$light-mode-green: #2f9e35;
$light-mode-blue: #4e9e5a;
$light-mode-red: #f82915;

// Dark Theme
$dark-mode-dark-gray: #16181c;
$dark-mode-dark-blue: #00009f;
$dark-mode-dark-green: #017e17;
$dark-mode-dark-orange: #fb8f1b;
$dark-mode-dark-yellow: #faff00;

// High Contrast Dark Theme
$high-contrast-dark-white: #ffffff;
$high-contrast-dark-gray: #16181c;
$high-contrast-dark-blue: #0000ff;
$high-contrast-dark-green: #03ff00;
$high-contrast-dark-red: #ff0000;

// High Contrast Light Theme
$high-contrast-light-white: #ffffff;
$high-contrast-light-light-gray: #16181c;
$high-contrast-light-orange: #ff9900;
$high-contrast-light-yellow: #fafa4f;
$high-contrast-light-green: #2f9e35;
$high-contrast-light-blue: #4e9e5a;
$high-contrast-light-red: #f82915;
